@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

@theme {
  --color-primary: #f299c1;
  --color-secondary: #aeaeae;
}

html {
  scroll-behavior: smooth;
}
